<!-- Banner -->		
<section id="banner" {% if page.banner %}style="background-image: url({{ page.banner }})"{% endif %}>

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    
   
    <div class="inner">
        <header>
            <h2>NGR-CO3D</h2>
        </header>
        <p>{{ page.title}}
        <br />
        {{ page.date }}
        <br />
        {{ page.location }}
        <br />
    </div>

</section>
